{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint", 
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "prettier", 
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
	"env": {
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"ignorePatterns": ["webpack.config.js", "test-config/*"],
	"rules": {
    "arrow-body-style": "off",
    "eol-last": ["error", "never"],
    "no-tabs": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-fragments": "off",
    "react/react-in-jsx-scope": "off",
    "semi": "off",
    "spaced-comment": "off",
		"@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/semi": [ "error", "never" ]
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}